<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body translate="no" style="background: #E5E5E5; font-family: 'Work Sans', sans-serif;" data-new-gr-c-s-check-loaded="14.1063.0" data-gr-ext-installed="">

    <div style="max-width: 29.375em; width: 100%; border-radius: 10px; background: #ffffff;margin: 0 auto;border: #fff;display: flex;flex-direction: column;">
      <div style="display: flex; flex-direction: column;">
        <img src="https://esports.as.com/2020/06/04/valorant/grupos-Twitch-Rivals-Valorant_1361283862_403051_1440x600.jpg">
        <div style="width: 80%; margin: 2rem auto;">
          <p style="letter-spacing: 0.5em; font-size: 16px;  margin-top: 0em;  margin-bottom: 0.5em;">Para seguir</p>
          <p style="font-size: 2.250em;font-weight: 600; letter-spacing: -0.08em; margin-top: 0em;">Verifica tu email</p>
          <p>Si pulsas nuestro boton de verificación te llevara directamente al inicio.</p>
          <a href="http://localhost:4200/home" style="background: #28D709; color: #fff; border-radius: 3px;/* width: 92%; */display: block;text-decoration: none;padding: 15px;font-size: 16px; text-align: center;margin-top: 60px;">Verify Email Address</a>
        </div>
        <div style="display: flex; flex-direction: column;justify-content: space-around;  margin: 7px auto; max-width: 200px">

          <div style="display: flex;">

          </div>
        </div>
      </div>

    </div>
</body>
</html>

