*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-juego{
    height:100vh;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    text-align: center;

}

.juego-titulo, .juego-info{
    text-align: center;
}

.juego-cuadricula{
   
    display: grid;
    grid-template-columns: auto auto auto;
    gap:0;
}

.cuadro{
    width:10rem;
    height: 10rem;
    border: 1px solid rgb(168, 168, 168);
    text-align: center;
    color:#F4FB00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E4375;
    transition: background-color ease-in 0.2s;
}

.cuadro:hover{
   
    background-color:#ffff;
    
}

.juego-boton{
    display:inline-flex;
    padding: 1rem 1rem;
    background:#DABA0B ;
    color: white;
    cursor: pointer;
    justify-content: center;
    font-weight: bold;
    transition:color ease-out 0.3s;
   
}
.letra{
    font-size: 40px;
}
