<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Styling a SignUp Form</title>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
  <div class="signupFrm">
    <div class="wrapper">
    <form action="" class="form">
      <h1 class="title">Sign up</h1>

      <div class="inputContainer">
        <input type="email" class="input" id="email"
        pattern=".+@globex\.com" size="33" required>

        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Username</label>
      </div>

      <div class="inputContainer">
        <input id="login__password" type="password" name="password" class="input" placeholder="Password" required>
        <label for="" class="label">Password</label>
      </div>

      <div class="inputContainer">
        <input id="login__password" type="password" name="password" class="input" placeholder="Password" required>
        <label for="" class="label">Confirm Password</label>
      </div>
      <div class="inputContainer">
        <select name="pais">
          <option value="AF">Afganistán</option>
          <option value="AL">Albania</option>
          <option value="DE">Alemania</option>
          <option value="AD">Andorra</option>
          <option value="AO">Angola</option>
        </select>
        <p>¿Has olvidado tu contraseña?  <a href="http://localhost:4200/recuperacion">Recuperar contraseña</a></p>
      </div>

      <input type="submit" class="submitBtn" value="Sign up">
    </form>
    </div>
  </div>
</body>
</html>
