<!DOCTYPE html>
<html>
<head>
	<title>Lista de Pokémons por Tipo</title>
	<style>
		body {
			font-family: Arial, sans-serif;
		}
		h1 {
			text-align: center;
		}
		#pokemon-list {
			list-style-type: none;
			padding: 0;
		}
		#pokemon-list li {
			margin: 10px;
		}
	</style>
</head>
<body>
  <ul>
    <li *ngFor="let pokemon of pokemonList">
      <a href="https://pokeapi.co/api/v2/pokemon/{{ pokemon.name }}">{{ pokemon.name }}</a>
    </li>
  </ul>

</body>

<script>


		fetch('https://pokeapi.co/api/v2/type')
			.then(response => response.json())
			.then(data => {


				const select = document.getElementById('type-select');
				data.results.forEach(type => {
					const option = document.createElement('option');
					option.value = type.name;
					option.textContent = type.name;
					select.appendChild(option);
				});
			});


		document.getElementById('type-select').addEventListener('cambio'), () => {
			const type = document.getElementById('type-select').value;
			if (type) {

				fetch(`https://pokeapi.co/api/v2/type/${type}`)
					.then(response => response.json())
					.then(data => {

						const pokemonList = document.getElementById('pokemon-list');
						pokemonList.innerHTML = '';
						data.pokemon.forEach(pokemon => {
							const listItem = document.createElement('li');
							const link = document.createElement('a');
							link.href = pokemon.pokemon.url;
							link.textContent = pokemon.pokemon.name;
							listItem.appendChild(link);
							pokemonList.appendChild(listItem);
						});
					});
			} else {
				document.getElementById
      }}
</script>
</html>
