<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Styling a SignUp Form</title>
  <link rel="stylesheet" href="logger.component.css">
</head>
<body>
  <div class="signupFrm">
    <div class="wrapper">
    <form action="" class="form">
      <h1 class="title">Login</h1>

      <div class="inputContainer">
        <input type="email" class="input" id="email"
        pattern=".+@globex\.com" size="33" required>

        <label for="" class="label">Email</label>
      </div>



      <div class="inputContainer">
        <input id="login__password" type="password" name="password" class="input" placeholder="Password" required>
        <label for="" class="label">Password</label>
      </div>
      <button  class="submitBtn" onclick="location.href='http://localhost:4200/home'">Login</button>

    </form>
    </div>
  </div>
</body>
</html>
